<title>Blank Page - Realaicy</title>

<!-- ajax layout which only needs content area -->
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="row">
            <div class="col-sm-12">
                <div class="widget-box transparent" id="recent-box">
                    <div class="widget-header">
                        <h5 class="widget-title lighter smaller">
                            <i class="ace-icon fa fa-rss orange"></i>最新彩票分析
                        </h5>

                        <div class="widget-toolbar no-border">
                            <ul class="nav nav-tabs" id="recent-tab">
                                <li class="active">
                                    <a data-toggle="tab" uri="#lot-tab">综合信息</a>
                                </li>

                                <li>
                                    <a data-toggle="tab" uri="#sum-tab">和值分析</a>
                                </li>

                                <li>
                                    <a data-toggle="tab" uri="#even-tab">奇偶分析</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main padding-4">
                            <div class="tab-content padding-8">
                                <div id="lot-tab" class="tab-pane active">
                                    <!-- #section:pages/dashboard.tasks -->

                                    <div class="col-sm-8">
                                        <div class="widget-box">
                                            <div class="widget-header widget-header-flat widget-header-small">
                                                <h6 class="widget-title">
                                                    <i class="ace-icon fa fa-signal"></i>
                                                    综合信息
                                                </h6>

                                                <div class="widget-toolbar">
                                                    <a uri="#" data-action="fullscreen" class="orange2">
                                                        <i class="ace-icon fa fa-expand"></i>
                                                    </a>
                                                    <a uri="javascript:void(0)" data-action="reload"
                                                       onclick="realTest2()">
                                                        <i class="ace-icon fa fa-refresh"></i>
                                                    </a>
                                                    <a uri="#" data-action="collapse">
                                                        <i class="ace-icon fa fa-chevron-up"></i>
                                                    </a>

                                                </div>

                                            </div>

                                            <div class="widget-body">
                                                <div class="widget-main">
                                                    <!-- #section:plugins/charts.flotchart -->
                                                    <div>
                                                        <ul>
                                                            <li>
                                                                <span>开奖号码：</span>
                                                                <span id="sp_kj_num" class="red"></span>
                                                                <span id="sp_kj_num_blue" class="blue"></span>
                                                            </li>
                                                            <li>
                                                                <span>开奖日期：</span>
                                                                <span id="sp_kj_date"></span>
                                                            </li>
                                                        </ul>

                                                    </div>
                                                    <!-- /section:plugins/charts.flotchart -->
                                                </div>
                                                <!-- /.widget-main -->
                                            </div>
                                            <!-- /.widget-body -->
                                        </div>
                                        <!-- /.widget-box -->
                                    </div>

                                    <!-- /.col -->
                                    <!-- /section:pages/dashboard.tasks -->
                                </div>

                                <div id="sum-tab" class="tab-pane">
                                    <!-- #section:pages/dashboard.members -->
                                    <div class="col-sm-8">
                                        <div class="widget-box">
                                            <div class="widget-header widget-header-flat widget-header-small">
                                                <h6 class="widget-title">
                                                    <i class="ace-icon fa fa-signal"></i>
                                                    和值
                                                </h6>

                                                <div class="widget-toolbar">
                                                    <div class="inline dropdown-hover">
                                                        <button class="btn btn-minier btn-primary">
                                                            全国主要彩种
                                                            <i class="ace-icon fa fa-angle-down icon-on-right bigger-110"></i>
                                                        </button>

                                                        <ul class="dropdown-menu dropdown-menu-right dropdown-125 dropdown-lighter dropdown-close dropdown-caret">
                                                            <li class="active">
                                                                <a uri="#" class="blue">
                                                                    <i class="ace-icon fa fa-caret-right bigger-110">
                                                                        &nbsp;</i>
                                                                    足彩
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a uri="#">
                                                                    <i class="ace-icon fa fa-caret-right bigger-110 invisible">
                                                                        &nbsp;</i>
                                                                    Last Week
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a uri="#">
                                                                    <i class="ace-icon fa fa-caret-right bigger-110 invisible">
                                                                        &nbsp;</i>
                                                                    This Month
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a uri="#">
                                                                    <i class="ace-icon fa fa-caret-right bigger-110 invisible">
                                                                        &nbsp;</i>
                                                                    Last Month
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="widget-menu">
                                                        <a uri="#" data-action="settings" data-toggle="dropdown">
                                                            <i class="ace-icon fa fa-bars"></i>
                                                        </a>

                                                        <ul class="dropdown-menu dropdown-menu-right dropdown-light-blue dropdown-caret dropdown-closer">
                                                            <li>
                                                                <a data-toggle="tab" uri="#dropdown1">Option#1</a>
                                                            </li>

                                                            <li>
                                                                <a data-toggle="tab" uri="#dropdown2">Option#2</a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <a uri="#" data-action="fullscreen" class="orange2">
                                                        <i class="ace-icon fa fa-expand"></i>
                                                    </a>

                                                    <a uri="#" data-action="reload">
                                                        <i class="ace-icon fa fa-refresh"></i>
                                                    </a>

                                                    <a uri="#" data-action="collapse">
                                                        <i class="ace-icon fa fa-chevron-up"></i>
                                                    </a>

                                                </div>
                                            </div>

                                            <div class="widget-body">
                                                <div class="widget-main">
                                                    <!-- #section:plugins/charts.flotchart -->
                                                    <div id="piechart-placeholder">
                                                        <ul>
                                                            <li>
                                                                本期和值
                                                                <span class="red_Ball_Big"><label
                                                                        class="big_label_sum">93</label></span>

                                                                <p></p>
                                                            </li>


                                                        </ul>
                                                        <div>
                                                            <table id="tb_year" class="table table-striped">
                                                                <thead>
                                                                <tr>
                                                                    <th>年份</th>
                                                                    <th>03</th>
                                                                    <th>04</th>
                                                                    <th>05</th>
                                                                    <th>06</th>
                                                                    <th>07</th>
                                                                    <th>08</th>
                                                                    <th>09</th>
                                                                    <th>10</th>
                                                                    <th>11</th>
                                                                    <th>12</th>
                                                                    <th>13</th>
                                                                    <th>14</th>
                                                                    <th>15</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr>
                                                                    <td>次数</td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>

                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div>
                                                            <table class="table table-striped">
                                                                <thead>
                                                                <tr>
                                                                    <th>Num</th>
                                                                    <th>1</th>
                                                                    <th>2</th>
                                                                    <th>3</th>
                                                                    <th>4</th>
                                                                    <th>5</th>
                                                                    <th>6</th>
                                                                    <th>7</th>
                                                                    <th>8</th>
                                                                    <th>9</th>
                                                                    <th>10</th>
                                                                    <th>11</th>
                                                                    <th>12</th>
                                                                    <th>13</th>
                                                                    <th>14</th>
                                                                    <th>15</th>
                                                                    <th>16</th>
                                                                    <th>17</th>
                                                                    <th>18</th>
                                                                    <th>19</th>
                                                                    <th>20</th>
                                                                    <th>21</th>
                                                                    <th>22</th>
                                                                    <th>23</th>
                                                                    <th>24</th>
                                                                    <th>25</th>
                                                                    <th>26</th>
                                                                    <th>27</th>
                                                                    <th>28</th>
                                                                    <th>29</th>
                                                                    <th>30</th>
                                                                    <th>31</th>
                                                                    <th>32</th>
                                                                    <th>33</th>

                                                                </tr>
                                                                </thead>
                                                                <tbody>

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <!-- div.dataTables_borderWrap -->
                                                        <div>
                                                            <table id="tb_sum_container"
                                                                   class="table table-striped table-bordered table-hover">
                                                                <thead>
                                                                <tr>
                                                                    <th rowspan="2">开奖期数</th>
                                                                    <th colspan="6">红球</th>
                                                                    <th>蓝球</th>
                                                                    <th rowspan="2">操作</th>
                                                                </tr>
                                                                <tr>
                                                                    <th>1</th>
                                                                    <th>2</th>
                                                                    <th>3</th>
                                                                    <th>4</th>
                                                                    <th>5</th>
                                                                    <th>6</th>
                                                                    <th>1</th>
                                                                </tr>
                                                                </thead>

                                                                <tbody>

                                                                </tbody>
                                                            </table>
                                                        </div>

                                                    </div>
                                                    <!-- /section:plugins/charts.flotchart -->
                                                </div>
                                                <!-- /.widget-main -->
                                            </div>
                                            <!-- /.widget-body -->
                                        </div>
                                        <!-- /.widget-box -->
                                    </div>

                                    <!-- /.#member-tab -->
                                </div>
                                <div id="even-tab" class="tab-pane">
                                    <!-- #section:pages/dashboard.comments -->
                                    <div class="comments">
                                    </div>

                                    <div class="hr hr8"></div>

                                    <div class="center">
                                        <i class="ace-icon fa fa-comments-o fa-2x green middle"></i>

                                        &nbsp;
                                        <a uri="#" class="btn btn-sm btn-white btn-info">
                                            See all comments &nbsp;
                                            <i class="ace-icon fa fa-arrow-right"></i>
                                        </a>
                                    </div>

                                    <div class="hr hr-double hr8"></div>

                                    <!-- /section:pages/dashboard.comments -->
                                </div>
                            </div>
                        </div>
                        <!-- /.widget-main -->
                    </div>
                    <!-- /.widget-body -->
                </div>
                <!-- /.widget-box -->
            </div>
            <!-- /.col -->
        </div>

        <!-- PAGE CONTENT ENDS -->
    </div>
    <!-- /.col -->
</div><!-- /.row -->

<!-- page specific plugin scripts -->
<script xmlns:th="http://www.thymeleaf.org" th:inline="javascript">
    /*<![CDATA[*/

    function realTest2() {
        $.getJSON("api/lot/ssq/newest", function (json) {

            $('#sp_kj_num').text(json["redA"] + " " + json["redB"] + " " + json["redC"]
                    + " " + json["redD"] + " " + json["redE"] + " " + json["redF"] + "  "
            );
            $('#sp_kj_num_blue').text(json["blueA"]);
            $('#sp_kj_date').text(json["kaijiangDate"]);
        });    }


    var scripts = [null, "js/dataTables/jquery.dataTables.min.js",
        "js/dataTables/jquery.dataTables.bootstrap.min.js",
        null]
    $('.page-content-area').ace_ajax('loadScripts', scripts, function () {
        //inline scripts related to this page

        var ballSum = 93;
        var numIn_2003 = 0, numIn_2004 = 0, numIn_2005 = 0, numIn_2006 = 0, numIn_2007 = 0, numIn_2008 = 0,
                numIn_2009 = 0, numIn_2010 = 0, numIn_2011 = 0, numIn_2012 = 0, numIn_2013 = 0, numIn_2014 = 0,
                numIn_2015 = 0;

        var tb_sum;
        var tb_data;
        /* var realTest = function () {
         $.getJSON("api/lot/ssq/newest", function (json) {

         $('#sp_kj_num').text(json["redA"] + " " + json["redB"] + " " + json["redC"]
         + " " + json["redD"] + " " + json["redE"] + " " + json["redF"] + "  "
         );
         $('#sp_kj_num_blue').text(json["blueA"]);
         $('#sp_kj_date').text(json["kaijiangDate"]);
         });
         };*/

        jQuery(function ($) {

            realTest2();

            $.getJSON("api/lot/ssq/findbysum?ballSum=" + ballSum, function (json) {

                tb_data = json['data'];

                tb_sum = $('#tb_sum_container').DataTable({
                    bAutoWidth: false,
                    ordering: false,
                    paging: false,
                    bInfo: false,
                    "sDom": 'lrtip',
                    "aaData": tb_data,

                    columns: [
                        {"data": "periods", "width": "5%"},
                        {"data": "redA"},
                        {"data": "redB"},
                        {"data": "redC"},
                        {"data": "redD"},
                        {"data": "redE"},
                        {"data": "redF"},
                        {"data": "blueA"}
                    ],
                    "destroy": true
                });

                for (var i = 0; i < tb_data.length; i++) {
//                            console.log((realdata[i]['kaijiangDate']).substr(0, 4))
                    if ((tb_data[i]['kaijiangDate']).substr(0, 4) == '2003') {
                        numIn_2003++;
                    } else if ((tb_data[i]['kaijiangDate']).substr(0, 4) == '2004') {
                        numIn_2004++;
                    } else if ((tb_data[i]['kaijiangDate']).substr(0, 4) == '2005') {
                        numIn_2005++;
                    } else if ((tb_data[i]['kaijiangDate']).substr(0, 4) == '2006') {
                        numIn_2006++;
                    } else if ((tb_data[i]['kaijiangDate']).substr(0, 4) == '2007') {
                        numIn_2007++;
                    } else if ((tb_data[i]['kaijiangDate']).substr(0, 4) == '2008') {
                        numIn_2008++;
                    } else if ((tb_data[i]['kaijiangDate']).substr(0, 4) == '2009') {
                        numIn_2009++;
                    } else if ((tb_data[i]['kaijiangDate']).substr(0, 4) == '2010') {
                        numIn_2010++;
                    } else if ((tb_data[i]['kaijiangDate']).substr(0, 4) == '2011') {
                        numIn_2011++;
                    } else if ((tb_data[i]['kaijiangDate']).substr(0, 4) == '2012') {
                        numIn_2012++;
                    } else if ((tb_data[i]['kaijiangDate']).substr(0, 4) == '2013') {
                        numIn_2013++;
                    } else if ((tb_data[i]['kaijiangDate']).substr(0, 4) == '2014') {
                        numIn_2014++;
                    } else if ((tb_data[i]['kaijiangDate']).substr(0, 4) == '2015') {
                        numIn_2015++;
                    }


                }
                var $td = $('#tb_year tbody tr').children('td');
                $td.eq(1).text(numIn_2003);
                $td.eq(2).text(numIn_2004);
                $td.eq(3).text(numIn_2005);
                $td.eq(4).text(numIn_2006);
                $td.eq(5).text(numIn_2007);
                $td.eq(6).text(numIn_2008);
                $td.eq(7).text(numIn_2009);
                $td.eq(8).text(numIn_2010);
                $td.eq(9).text(numIn_2011);
                $td.eq(10).text(numIn_2012);
                $td.eq(11).text(numIn_2013);
                $td.eq(12).text(numIn_2014);
                $td.eq(13).text(numIn_2015);


            });

        });


    })
    ;
    /*]]>*/
</script>
